@import './scaffolding.scss';
@import './variables.scss';

body{
    width: 100%;
    height: 100%;
    color:white;
    background-color: #000;
}

@media(max-width: $mobile-width-only){
    .page-header{
        position: fixed;
        z-index: 100;
        top: 0;
    }
    
    .content{
        margin-top: 100px;
    }
   
}

.page-header{
   position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-darkgrey;
    width: 100%;
    height: 100px;
    top: 0;
}

.header-logo{
    color: white;
    font-family: 'HelveticaNeue-Bold', sans-serif;
    font-weight: normal;
    margin-left: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
    list-style-type: none;
    border-top: 1px solid rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    a{
        margin-left: 10px;
    }

    .title{
        flex-wrap: wrap;
        text-align: center;
        margin-right: 40px;
        color: #464646;
        font-family: 'HelveticaNeue-Bold', sans-serif;
        font-size: 19px;
        width: 100%;
    }  
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;


    .user-profile_wrapper{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:35px 0 0 0;

        // Avatar
        .profile_img{
            margin: 0;
            display: block;
            width: 168px;
            height: 168px;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .functions_wrapper{
            margin-top: 24px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            
            a{
                cursor: pointer;
                padding: 0;
                text-decoration: none;
                color: #459938;
                font-family: 'HelveticaNeue-Regular', sans-serif;
                font-size: 16px;
                &:hover{
                    color: #6ac94d;
                }
            }
        }

    }  

    .inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 35px;

        .user_name{
            background-color: #343434;
            border: 0;
            width: 280px;
            height: 43px;
            border-radius: 4px;
            text-align: center;
            color: #ffffff;
            font-family: 'HelveticaNeue-Regular', sans-serif;
            font-size: 16px;
            &::placeholder{
                color: #6A6A6A;
                font-family: 'HelveticaNeue-Regular', sans-serif;
                font-size: 16px;
            }
        }

        .next_step{
            display: flex;
            width: 100%;
            margin: 20px 0 0 0;
        }
    }

    .signin_social{
        display: flex;
        flex-direction: column;
        margin: 40px 0 50px 0; 
        width: 190px;
        h3{
            margin: 0 0 20px 0;
            text-align: center;
            color: #606060;
            font-family: 'HelveticaNeue-Bold', sans-serif;
            font-size: 15px;
        }
        .links{
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }
}


@media (min-width: $tablet-width){
    .content{
        margin-top: 100px;
    }

    aside{
        .menu-auth{
            margin-top: 0px;
        }
        .menu-auth-open{
            width: 400px;
            
        }
    }    
}

@media (min-width: $desktop-width) and (max-width: 1640px){
    body{
        display: flex;
        width: 100%;
        height: 100%;

        .page-header{
            position: fixed;
            z-index: 100;
            width: 75%;
            height: 74px;
    
            .header-logo{
                margin-left: 50px;
            }
            .header{
                display: none;
    
            }
            .menu-toggle{
                display: none;
            }
        }

        main{
            width: 75%;
            .content{
                display: flex;
                width: 100%;
                height: 100%;
                margin-top: 100px;
                
            }       
        }
    }
}

@media(min-width: 1640px){
    
    .page-header{
        position: fixed;
        z-index: 100;
        width: 80%;
        height: 74px;

        .header-logo{
            margin-left: 50px;
        }
        .header{
            display: none;

        }
        .menu-toggle{
            display: none;
        }
    }

    main{
        width: 80%;
        height: 100%;
        .content{
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 100px;
        }       
    }
}
