
$bg-gift: #FF5050;
$bg-darkgrey: #1F1F1F;
$bg-button-1: #37841F;
$bg-dark: #1F1F1F;
$menu-btn: #606060;
$color: #707070;
$color-2: #A8A8A8;
$menu-bg: #121212;


$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;